*{
	margin:0px;
	padding:0px;
}
#outer{
	
	display:flex;
	align-items:center;
	justify-content:center;
	width:300px;
	height:300px;
	border-radius:50%;
	background-color:#ffa500;
	border:25px solid #ff0000;
}
#middle{
	
	display:flex;
	align-items:center;
	justify-content:center;
	width:200px;
	height:200px;
	border-radius:50%;
	background-color:#008000;
	border:25px solid #ffff00;
	
}
#inner{
	
	display:flex;
	align-items:center;
	justify-content:center;
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:#800080;
	border:25px solid #0000ff;
}