*{
	margin:0px;
	padding:0px;
}
#outer{
	
	display:flex;
	align-items:center;
	justify-content:center;
	width:250px;
	height:250px;
	border-radius:50%;
	background-color:#ffa500;
	border:25px solid #ff0000;
}
#middle{
	
	display:flex;
	align-items:center;
	justify-content:center;
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:#008000;
	border:25px solid #ffff00;
	
}
#inner{
	
	display:flex;
	align-items:center;
	justify-content:center;
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:#800080;
	border:25px solid #0000ff;
}